<Label 
          class="new-event__item" 
        >Day:
          <select 
            class="new-event__input"
            w-id="inputDay/day"
          >
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
          </select>
        </Label>

        <Label 
          class="new-event__item" 
        >Time:
          <select 
            class="new-event__input"
            w-id="inputTime/time"
          >
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
          </select>
        </Label>

        <div class="new-event__button-wrapper">
          <button w-id="buttonCreate/create" class="new-event__button">Create</button>
          <button w-id="buttonCancel/cancel" class="new-event__button">Cancel</button>
        </div>
      </div>